.header-title{
    height: 100%;
    display: flex;
  }
  
  header {
    position: fixed;
    top: 0;
    z-index: 11;
    transition: all 250ms ease-in-out;
  }
  
  .header-title-header {
    @extend header;
  }
  
  .header-title-container {
    margin: auto;
  }
  
  .label {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    padding: 20px 10px 10px 10px;
  }
  
  