.custom-toolbar {
  background-color: #EDF5FF;
  padding: 0 5px;
}

.toolbar-title {
  color: #262626;
  padding-left: 10%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

:host ::ng-deep .toolbar-title {
  padding-left: 0;
  width: 100%;
  text-align: center;
}

.blue-icon {
  color: #2F4FFE;
}
