.add-crop {
  padding-bottom: 20px;
}

.add-crop-header {
  margin-bottom: 13px;
}

.mainPage {
  background-color: #F5F5F6;
}

.primaryBlue {
  color: #2F4FFE;
}

.yellow{
  color: #FFCA26;
}


.alert-color{
  color: #FF0000;
}


.darkblue{
  color: #0000aa;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-fab-bottom-right {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  width: 56px;
  height: 56px;
  background-color: #2F4FFE;
}

.custom-toolbar {
  background-color: #2F4FFE;
  padding: 0 5px;
}

.toolbar-title {
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.white-icon {
  color: #fff;
}

.horizontal {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 6px;
  align-items: center;
  justify-content: space-between;
}

.imgHolder {
  display: block;
  float: right;
}

.vertical-align-middle {
  vertical-align: middle;
}

.temp {
  font-size: 20px;
  width: 60px;
  text-align: right;
  padding-right: 6px;
}


.grid {
  margin-left: 16px;
  margin-right: 16px;
}

mat-card {
  border: 2px solid #F5F5F6;
}

.mat-h1 {
  font-weight: 500;
}

.full-card {
  width: 100%;
  padding: 6px 9px 5px 11px;
}

.cardImage {
  margin: 0px !important;
  height: 100%;
}

.cardImageHolder {
  width: 95px;
  height: 95px;
  border-radius: 6px;
  overflow: hidden;
  float: right;
  margin: 0 1px 0 0;
}

.cardDetails {
  float: left;
}

.toolbarTitle {
  padding: 8px;
  font-weight: 100;
  font-size: 20px;
}

.measureButton {
  border: 1px solid #2F4FFE;
  color: #2F4FFE;
  border-radius: 3px;
  padding: 0 10px;
  height: 2em;
  line-height: 2em;
  width: auto;
  display: inline-block;
  margin-right: 10px;
  letter-spacing: 2px;
}

.shadowBox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cropDates {
  margin: 5px  0;
}

.add-crop-button {
  position: fixed;
  text-align: center;
  width: 275px;
  height: 36px;
  bottom: 10%;
  left: calc(50% - (275px/2));
  min-height: 36px;
  border-radius: 4px;
  button {
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.25px;
  }
}
