.sensor-locator-modal {
  .modal-step {
    color: #8D8D8D;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .dialog-title {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }

  .sensor-locator-text {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }

  .sensor-locator-instruction {
    color: #262626;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .locator-spinner {
    margin-bottom: 50px;
  }

  .sensor-gps-label {
    color: #6F6F6F;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.2px;
    display: block;
  }

  .sensor-gps-value {
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }


  .primary-button {
    background-color: #2F4FFE;
    border-radius: 4px;
    color: #FFF;
  }

  .secondary-button {
    color: #2F4FFE;
    background-color: transparent;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.horizontal {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .primary-button,
  .secondary-button {
    width: auto;
    text-transform: uppercase;
  }

}

.mat-dialog-container {
  padding: 16px 16px 24px;
}
