td.mat-cell:last-of-type {
    padding-right: 0px;
  }
  .home-form-button {
    margin-right: 1px;
    padding-top: 10px;
    height: 45px;
    width: 45px;
  }
  .home-hub-table {
    width: 100%;
  }
  
  .hand-pointer {
    cursor: pointer;
  }
  
  .cached {
    float: right;
  }
  
  .date-font {
    font-size: 10px;
  }