.details-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: roboto;

  h1 {
    font-weight: 550;
  }

  h3 {
    padding: 0px;
    margin: 0px;
  }

  .title {
    color: gray;
    margin-top: 10px;
    font-style: initial;
  }
}

.crop-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .field-photo {
    height: 60px;
  }

  .photo-details {
    margin-left: 30px;

    h2 {
      font-size: large;
      padding: 0;
      margin-bottom: 0;
    }

    span {
      color: gray;
    }
  }
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
}

.sensor-container {
  margin-top: 2px;

  span {
    color: gray;
  }
}
