<p>
  The <strong>Liquid Prep App</strong> is a user interface that is accessed on your mobile device
  to receive watering guidance for a selected crop. It is a <strong>progressive web app
  (PWA)</strong> developed with an <strong>Angular</strong> web framework.
</p>
<p>
  The app gets weather and crops data from the <strong>Liquid Prep Backend</strong> service, and
  the soil moisture data from the <strong>Liquid Prep Hardware</strong>. After the analysis of
  weather, crop and soil moisture data, the app computes and provides water
  advice for your crop.
</p>
<p>
  The <strong>Liquid Prep App</strong> can be run on your local machine for development and
  testing purposes, and is deployed on IBM Cloud Object Storage for production
  to be accessed globally.
</p>
