<app-header-title fxFlexFill></app-header-title>

<div class="sensor-details">
  <span class="sensor-name">{{ sensor.sensorName }}</span>
  <mat-card class="sensor-details-card">
    <mat-card-header>
      <mat-card-title class="sensor-detail-group-title">Location</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item class="sensor-detail-group">
          <span class="sensor-detail-label">Sensor gps location</span>
          <span class="sensor-detail-value">{{ sensor.geocode }}</span>
          <span class="sensor-detail-description emphasized">Set using device GPS</span>
        </mat-list-item>

        <mat-list-item>
          <span class="sensor-detail-label">Field</span>
          <span class="sensor-detail-value">{{ selectedFieldName }}</span>
        </mat-list-item>

      </mat-list>

    </mat-card-content>
  </mat-card>

  <mat-card class="sensor-details-card">
    <mat-card-header>
      <mat-card-title class="sensor-detail-group-title">Moisture Readings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item class="sensor-detail-group">
          <span class="sensor-detail-label">Last moisture reading</span>
          <span class="sensor-detail-value">{{ sensor.moistureLevel }}</span>
          <span class="sensor-detail-description">{{sensor.formattedLastUpdatedTime}}</span>
        </mat-list-item>

        <mat-list-item>
          <span class="sensor-detail-label">Next scheduled reading</span>
          <span class="sensor-detail-value">{{sensor.formattedNextUpdatedTime}}</span>
          <p *ngIf="formattedFirstReadingTime" class="sensor-detail-description">Sensor interval is set at {{timesPerDay}} readings a day beginning at {{formattedFirstReadingTime}},
            every {{timeBetweenReadingLabel}}.</p>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>

  <mat-card class="sensor-details-card">
    <mat-card-content>
      <span class="sensor-detail-label">Past Readings</span>


      <table mat-table [dataSource]="sensor.pastReadings" class="past-readings-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Date </th>
          <td mat-cell *matCellDef="let element"> {{ element.dateTime * 1000 | date:'M/d/yy' }} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Time </th>
          <td mat-cell *matCellDef="let element"> {{ element.dateTime * 1000 | date:'h:mm a' }} </td>
        </ng-container>
        <ng-container matColumnDef="moisturelevel">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Moisture Level </th>
          <td mat-cell *matCellDef="let element"> {{ element.moistureLevel | number:'1.2-2' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      </table>

    </mat-card-content>
  </mat-card>

  <mat-card class="sensor-details-card">
    <mat-card-header>
      <mat-card-title class="sensor-detail-group-title">Connection Info</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item class="sensor-detail-group">
          <span class="sensor-detail-label">Edge Gateway</span>
          <span class="sensor-detail-value">{{ sensor?.connectionInfo?.edgeGateway.value }}</span>
          <span class="sensor-detail-description">{{ sensor?.connectionInfo?.edgeGateway.url }}</span>
        </mat-list-item>

        <mat-list-item class="sensor-detail-group">
          <span class="sensor-detail-label">esp-now Gateway</span>
          <span class="sensor-detail-value">{{ sensor?.connectionInfo?.espNowGateway.value }}</span>
          <span class="sensor-detail-description">{{ sensor?.connectionInfo?.espNowGateway.url }}</span>
        </mat-list-item>

        <mat-list-item class="sensor-detail-group">
          <span class="sensor-detail-label">Web socket</span>
          <span class="sensor-detail-value">{{ sensor?.connectionInfo?.webSocket.url }}</span>
        </mat-list-item>

      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
