<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form #form="ngForm" class="demo-form">
    <div [ngSwitch]="data.type">
      <div *ngSwitchCase="'input'" class="full-width">
        <mat-form-field appearance="fill">
          <mat-label>Actions</mat-label>
          <mat-select name="action" required>
            <mat-option *ngFor="let action of data.object" [value]="action.value" (onSelectionChange)="onSelectChange($event)">
              {{action.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="showSingleInput">
          <mat-label>{{label}}</mat-label>
          <input matInput name="title" [(ngModel)]="newValue" required>
        </mat-form-field>
        <div  *ngIf="showNameInput">
          <mat-form-field appearance="outline">
            <mat-label>{{label}}</mat-label>
            <input matInput name="name" [(ngModel)]="name" required>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Sensor Type</mat-label>
            <mat-select [(ngModel)]="sensorType" name="sensorType" required>
              <mat-option value="gen">Capacitive Soil Moisture Sensor v1.2</mat-option>
              <mat-option value="plm">PlantmateⓇ Capacitive Soil Moisture Sensor Module 3.3V</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Field</mat-label>
            <mat-select [(ngModel)]="fieldId" name="fieldId" required>
              <mat-option *ngFor = "let field of fieldOptions" [value]="field.value">{{field.label}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="align-elements">
          <!--<mat-form-field appearance="fill">
            <mat-label>Motion Sensor</mat-label>
            <mat-select [(value)]="data.object.sensorId" name="sensorId" required>
              <mat-option *ngFor="let sensor of data.sensors" [value]="sensor.id">
                {{sensor.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Action Trigger</mat-label>
            <mat-select [(value)]="data.object.action" name="action" required>
              <mat-option *ngFor="let trigger of data.triggers" [value]="trigger.id">
                {{trigger.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
          <br /><br />
        </div>
      </div>
      <div *ngSwitchCase="'display'" class="full-width">
        <div #display></div>
      </div>
      <div *ngSwitchDefault>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" class="device-form-button" (click)="cancel()">{{cancelLabel}}</button>
  <button mat-raised-button type="button" class="device-form-button" (click)="run()" [disabled]="!form.valid" cdkFocusInitial>{{okLabel}}</button>
</div>
