mat-sidenav {
  width: 90%;
}

.closeBtn {
  position: absolute;
  right: 15px;
  top: 20px;
}

.navDrawer {
  padding: 20px;
}

.navHeader {
  font-size: 14px;
}

:host ::ng-deep .mat-list-item-content .mat-icon {
  margin-right: 10px;
}

:host ::ng-deep .mat-list-item-content {
  padding-left: 0 !important;
}

