
<mat-nav-list class="navDrawer">
  <button mat-icon-button (click)="triggerCloseSidenav()" noRipple class="closeBtn">
    <mat-icon class="navIcon">close</mat-icon>
  </button>
  <h2 class="navHeader">Liquid Prep</h2>
  <a class="navLink" mat-list-item routerLink="home" routerLinkActive="active-link" (click)="triggerCloseSidenav()" >
    <mat-icon class="navIcon">home</mat-icon>
    <span>Dashboard</span>
  </a>
  <a class="navLink" mat-list-item routerLink="sensors-v2" routerLinkActive="active-link" (click)="triggerCloseSidenav()" >
    <mat-icon class="navIcon">sensors</mat-icon>
    Sensors
  </a>
  <a class="navLink" mat-list-item routerLink="bluetooth" routerLinkActive="active-link" (click)="triggerCloseSidenav()" >
    <mat-icon class="navIcon">bluetooth</mat-icon>
    Bluetooth
  </a>
  <a class="navLink" mat-list-item routerLink="fields" routerLinkActive="active-link" (click)="triggerCloseSidenav()" >
    <mat-icon class="material-symbols-outlined">psychiatry</mat-icon>
    Field
  </a>
  <a class="navLink" mat-list-item routerLink="about" routerLinkActive="active-link" (click)="triggerCloseSidenav()">
    <mat-icon class="navIcon">info</mat-icon>
    About
  </a>
</mat-nav-list>
