.location-weather {
  background-color: #edf5ff;
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  height: 100%;
}

.location {
  flex: 0.42;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  padding-left: 4%;
}

.farm {
  flex: 1;
}

.mat-card-title.farm {
  font-weight: 200;
  line-height: 0;
  vertical-align: middle;
  white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.city {
  flex: 1;
}

.city-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.space {
  flex: 0.16;
}

.weather {
  display: flex;
  flex: 0.42;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.weather-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  flex: 1;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}

.vertical-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  //margin: 10px;
  //padding-top: 10px;
  //padding-bottom: 12px;
}

.square-image {
  width: 60px;
  height: 60px;
}

.item-image {
  display: flex;
  align-items: center;
}

.item-content {
  margin-left: 4%;
  padding-top: 4px;
  display: flex;
  align-items: center;
}

.item-actions {
  display: flex;
  align-items: center;
}

.item-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: left;
}

.item-button:focus {
  outline: none;
}

.item-image {
  margin-right: 8px;
}

.item-content {
  margin-left: 4px;
}
