<div class="location-weather">
  <div class="location">
    <mat-card class="custom-card">
      <mat-card-title class="farm mat-subheading">Frog Hill Form</mat-card-title>
      <mat-card-content class="city-info">
        <mat-icon class="material-icons-outlined">location_on</mat-icon>
        <span>{{location}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="space">
  </div>
  <div class="weather">
    <div class="weather-icon" >
      <img [src]="weatherIconImage" width="36" height="36">
    </div>
    <mat-card class="custom-card">
      <mat-card-title>{{temperature}}&deg;C</mat-card-title>
      <mat-card-content>
        <span style="margin-right: 4px">{{loading ? '' : precipChance}}%</span>
        <span>{{loading ? '' : precipType}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="sensor-results">
  <ng-container *ngIf="displayedSensors.length > 0; else noResults">
    <mat-list>
      <ng-container *ngFor="let sensor of displayedSensors">
        <mat-list-item>
          <div mat-line style="display: flex; align-items: center">
            <span class = "sensor-name">{{ sensor.name }}</span>
            <div
              class="sensor-type"
              *ngIf="SENSOR_TYPE_MAP[sensor.sensorType] else unspecifiedType"
              [ngClass]="sensor.sensorType"
            >
              {{ SENSOR_TYPE_MAP[sensor.sensorType] }}
            </div>
          </div>
          <div mat-line>
            <ng-container *ngIf="sensor.field; else noAssignedField">
              <div class="assigned-field">
                <mat-icon>location_on_outline</mat-icon> {{ sensor?.field?.fieldName }}
              </div>
            </ng-container>
          </div>

          <div mat-line>
            Moisture Level: <span>{{ sensor.moisture }}</span> &nbsp; &nbsp;
            <span>{{ sensor.lastUpdate }}</span>
          </div>

          <div mat-line>
            Water needed: <span>{{ sensor?.waterAdvice?.wateringDecision }}</span>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </ng-container>

  <ng-template #unspecifiedType>
    <div class="sensor-type unspecified-type">
      Unspecified Type
    </div>
  </ng-template>

  <ng-template #noAssignedField>
    <div class="unassigned-field">
      <mat-icon>location_off_outline</mat-icon> Unassigned
    </div>
  </ng-template>

  <ng-template #noResults>
    <div class="no-sensors" *ngIf="displayedSensors.length === 0">
      <mat-icon class="no-sensor-icon">sensors_off</mat-icon>

      <div class="no-sensors-title">No sensors detected</div>

      <div class="no-sensors-text">
        <p>
          Check that wifi and bluetooth are enabled on your device and the
          sensors are turned on.
        </p>
        <p>
          You may need to set up your gateways first. See the user manual for
          instructions.
        </p>
      </div>
    </div>
  </ng-template>
</div>
