.form-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 30px;

  h3 {
    padding: 0px;
    margin: 0px;
    font-weight: 550;
  }

  .field-input {
    width: 90%;
  }

  .description-input {
    width: 90%;
    min-height: 100px;
  }

  .sensor-button {
    color: blue;
    padding-left: 5px;
    align-items: center;
  }
}

.sensor-container {
  width: 100%;

  .remove-button {
    float: right;
    margin-right: 10px;
    color: blue;
    font-weight: 500;
  }
}

.descripttion-container {
  margin-top: 10px;
  p {
    letter-spacing: 1px;
    color: gray;
  }
}

.options-container {
  margin-top: 20px;

  .mat-radio-button {
    display: block;
    margin-bottom: 20px;
  }
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(100% - 160px);

  button {
    letter-spacing: 1px;
  }
}
