<app-header-title fxFlexFill> </app-header-title>
<mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="fieldForm">
  <mat-card class="form-container">
    <mat-form-field class="field-input" appearance="fill">
      <mat-label>Input</mat-label>
      <input formControlName="fieldName" matInput />
    </mat-form-field>

    <mat-form-field class="field-input" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        class="description-input"
      ></textarea>
    </mat-form-field>

    <!-- <mat-form-field class="field-input">
      <mat-label>Select Crop</mat-label>
      <input
        matInput
        formControlName="crop"
        (click)="openCropDialog(cropTemplate)"
      />
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </mat-form-field> -->

    <mat-form-field class="field-input" appearance="fill">
      <mat-label>Select Crop</mat-label>
      <mat-select matInput formControlName="crop" matNativeControl>
        <mat-option value="" selected></mat-option>
        <mat-option *ngFor="let crop of cropsList" [value]="crop.cropName">
          {{ crop.cropName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Soil Type</mat-label>
      <mat-select matInput formControlName="soilType" matNativeControl>
        <mat-option value="" selected></mat-option>
        <mat-option value="Heavy clay soil">Heavy clay soil</mat-option>
        <mat-option value="Sandy soil (coarse texture)"
          >Sandy soil (coarse texture)</mat-option
        >
        <mat-option value="Sandy loam soil (moderately coarse texture)"
          >Sandy loam soil (moderately coarse texture)</mat-option
        >
        <mat-option value="Sandy clay loam soil (moderately fine texture)"
          >Sandy clay loam soil (moderately fine texture)</mat-option
        >
        <mat-option value="Clay soil (fine texture)"
          >Clay soil (fine texture)</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-input" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input formControlName="plantDate" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field style="width: 80%; margin-bottom: 20px">
      <mat-label>Choose a date</mat-label>
      <input formControlName="plantDate" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
    <h3 style="width: 90%; margin-bottom: 15px">Sensors</h3>
    <div *ngFor="let sensor of sensors" class="sensor-container">
      <h4>{{ sensor.name }}</h4>
      <span style="color: gray">{{ sensor.sensorTypeName }}</span>
      <button
        mat-button
        class="remove-button"
        (click)="removeSensor(sensor.mac)"
      >
        REMOVE
      </button>
    </div>
    <button
      mat-stroked-button
      color="primary"
      class="sensor-button"
      (click)="openFullViewDialog()"
    >
      <mat-icon aria-hidden="false">add</mat-icon>SENSOR
    </button>
  </mat-card>
  <!-- <ng-template #cropTemplate>
    <h2 mat-dialog-title>Select a crop</h2>
    <hr />
    <mat-dialog-content>
      <div class="options-container">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="cropSelect"
        >
          <mat-radio-button *ngFor="let crop of cropsList" [value]="crop">{{
            crop.cropName
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="actions-container">
        <button mat-button mat-dialog-close>CANCEL</button>
        <button
          mat-button
          mat-dialog-close
          (click)="clickCropNext()"
          style="color: blue"
        >
          NEXT
        </button>
      </div>
    </mat-dialog-content>
  </ng-template> -->
</form>

<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Exit without saving?</h2>
  <hr />
  <mat-dialog-content>
    <div class="descripttion-container">
      <p>
        You have unsaved changes. Are you sure you want to leave this page
        without saving?
      </p>
    </div>
    <div class="actions-container">
      <button mat-button mat-dialog-close>CANCEL</button>
      <button
        mat-button
        mat-dialog-close
        style="color: red"
        (click)="backedClicked()"
      >
        EXIT
      </button>
    </div>
  </mat-dialog-content>
</ng-template>
