header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    transition: all 250ms ease-in-out;
}
.cropsList {
  max-width: 360px;
  margin: auto;
}
.add-crop-header {
    @extend header;
    &.hidden {
        opacity: 0;
    }
}

.button {
  text-transform: uppercase;
}

.custom-toolbar {
  background-color: #EDF5FF;
  padding: 0 5px;
}

.toolbar-title {
  color: #262626;
  padding-left: 10%;
}

.blue-icon {
  color: #2F4FFE;
}

.search-block {
    width: 0;
    right: 0;
    @extend header;
    background: #fff;
    &.active {
        width: 100%;
    }
    .search-control {
        flex: 1;
        font-size: 1rem;
        border: 0;
        outline: none;
        padding-left: 10px;
    }
}

.grid {
    margin-top: 50px;
    margin-left: 16px;
    margin-right: 16px;
}

mat-card {
    margin: 4px;
    border: 2px solid #F5F5F6;
}

.cardImage {
    margin-bottom: 0;
}

.cardTittle {
    padding: 8px;
    font-weight: 100;
}

:host ::ng-deep mat-card {
  flex-grow: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

:host ::ng-deep .toolbar-title {
  padding-left: 0;
  width: 100%;
  text-align: center;
}
