<app-header-title fxFlexFill> </app-header-title>
<main>
  <div class="banner-header" [class]="getFieldBannerPhoto(cropType)"></div>

  <div class="details-container">
    <div class="details-header">
      <div><img [src]="getThumbnailPhoto(cropType)" /></div>

      <div class="fieldname-container">
        <div>
          <h1>{{ fieldDetails.fieldName }}</h1>
        </div>

        <div>
          <span class="crop-pill" [class]="getCropType(cropType)">{{
            fieldDetails.crop.type
          }}</span>
        </div>
      </div>
    </div>

    <div>
      <span>Soil : {{ fieldDetails.soil }}</span
      ><br />
      <span>Planted : {{ fieldDetails.plantDate }}</span>
    </div>
  </div>

  <div class="description-container">
    <p>{{ fieldDetails.description }}</p>
  </div>

  <div class="sensor-group">
    <h2>Sensors</h2>

    <div class="sensor-container" *ngFor="let sensor of sensors">
      <div>
        <div class="sensor-name">
          <h3>{{ sensor.sensorName }}</h3>
          <span>Sensor Name</span>
        </div>
        <div class="moisture-level">
          <h3>{{ sensor.moistureLevel }}</h3>
          <span>Moisture Level</span>
        </div>
      </div>
      <div class="secondary-details">
        <div>
          <mat-icon
            class="sensor-icon"
            aria-hidden="false"
            aria-label="Example history icon"
            >history</mat-icon
          >
          <span>{{ adjustDate(sensor.lastUpdatedTime) }}</span>
        </div>
        <div>
          <mat-icon
            class="sensor-icon"
            aria-hidden="false"
            aria-label="Example location icon"
            >location_on</mat-icon
          >
          <span>{{ sensor.geocode }}</span>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- <div class="details-container">
  <h1>{{ fieldDetails.fieldName }}</h1>
  <span class="title">DESCRIPTION</span>
  <p>
    {{ fieldDetails.description }}
  </p>
  <span class="title">CROP</span>
  <div class="crop-container">
    <img class="field-photo" [src]="getFieldPhoto(cropType)" />
    <div class="photo-details">
      <h2>{{ fieldDetails.crop.cropName }}</h2>
      <span>{{ fieldDetails.plantDate }}</span>
    </div>
  </div>
  <span class="title">SOIL TYPE</span>
  <h3>{{ fieldDetails.soil }}</h3>
  <span style="font-style: italic">Detected from field Location</span>

  <span class="title">SENSORS</span>
  <mat-card>
    <mat-card-content class="sensor-container" *ngFor="let sensor of sensors">
      <div>
        <h3>{{ sensor.sensorName }}</h3>
        <span>Moisture Level: {{ sensor.moistureLevel }}</span>
        <br />
        <span>Last Reading" {{ adjustDate(sensor.lastUpdatedTime) }}</span>
        <br />
        <span>GPS: {{ sensor.geocode }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->

<ng-template #warningDialog>
  <div class="dialog-wrapper">
    <h2>Delete Field?</h2>
    <p>This will permanently delete this field from your list</p>
  </div>
  <div class="dialog-buttons">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="warn" (click)="deleteField()" mat-dialog-close>
      DELETE
    </button>
  </div>
</ng-template>
