<div class="search-section" [hidden]="!isSearchVisible">
  <input
    type="text"
    class="searchbox"
    [(ngModel)]="searchQuery"
    placeholder="Search Fields"
    (input)="onSearchInputChange()"
  />
</div>
<div class="fields-container" *ngIf="fields">
  <div style="width: 100%">
    <mat-card style="width: 100%" *ngFor="let field of displayedFields">
      <mat-card-content (click)="onFieldClick(field.id)">
        <div class="field-contents">
          <img class="field-photo" [src]="getFieldPhoto(field.crop.type)" />
          <div>
            <h3>{{ field.fieldName }}</h3>
            <span class="type">{{ field.crop.cropName }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="empty-fields-container" *ngIf="fields.length === 0">
  <div>
    <h2>It looks a little empty here</h2>
    <p>Add a field to beging using the app.</p>
  </div>
</div>
<button
  mat-fab
  matTooltip="Tap to Add New Field"
  color="primary"
  class="add-field-button"
  (click)="addField()"
>
  <mat-icon>add</mat-icon>
</button>
