<app-header-title fxFlexFill leftIconName="arrow_back" headerTitle="Advice" rightIconName="volume_up" (click)="backClicked()">
</app-header-title>

<div class="crop-container" fxLayout="column"  fxLayoutAlign="space-evenly center">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
    <span class="mat-title" style="font-weight: bold">{{crop.cropName}}</span>
  </div>
  <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between center">
    <span>Planted Jul 4 </span>
  </div>
  <div class="crop-status-container" fxFlexFill fxLayout="row" fxLayoutAlign="space-between center" >
    <button class="btn-crop-status" fxFlex="48" mat-stroked-button >12 Days Until Harvest</button>
    <button class="btn-crop-status" fxFlex="48" mat-stroked-button *ngIf="false">Stage: Germinating</button>
  </div>
  <img [src]="cropStatic.immaturePic" width="100%" height="100%" style="object-fit: cover;">
</div>

<mat-grid-list class="advice-container" cols="3" rowHeight="24px" gutterSize="4px">
  <mat-grid-tile colspan="3" rowspan="1">
    <div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
      <span>TODAY'S ADVICE {{currentDate}}</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4" style="background-color: #d9781d">
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
      <span class="soil-moisture-title">Soil Moisture</span>
      <span class="soil-moisture-value">{{soilMoisturePercentage}}%</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" style="background-color: #e6f2fc">
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
      <span class="soil-moisture-water">Water Now</span>
      <span class="soil-moisture-water-value">Yes</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4">
    <img [src]="adviceImg" width="100px" height="100px">
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" style="background-color: #e6f2fc">
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
      <span class="soil-moisture-water">Amount</span>
      <span class="soil-moisture-water-value">100 units</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
      <span>Last Reading: 42% 00/00/00</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>


<div class="btn-container"  fxLayout="column"  fxLayoutGap="10px"  fxLayoutAlign="center center">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button  color="primary-customise" fxFlex="72" (click)="onMeasureClicked()">MEASURE SOIL MOISTURE</button>
  </div>

  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button color="primary-reverse" fxFlex="72" (click)="onPastReadingClicked()">SEE PAST READINGS</button>
  </div>
</div>
