<app-header-title fxFlexFill> </app-header-title>
<div class="fields-container">
  <div style="width: 100%">
    <mat-card style="width: 100%" *ngFor="let field of fields">
      <mat-card-content (click)="onFieldClick(field.id)">
        <div class="field-contents">
          <img class="field-photo" src="{{ field.photo }}" />
          <div>
            <h3>{{ field.name }}</h3>
            <span class="type">{{ field.type }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button mat-fab color="primary" class="add-field-button" (click)="addField()">
  <mat-icon>add</mat-icon>
</button>
