.card-container {
  margin: 15px;

  mat-card {
    border-radius: 4px !important;
    border: 1px solid #eaecf0 !important;
    background-color: #fbfbfd !important;
    box-shadow: none !important;
    padding: 16px !important;
    margin-bottom: 15px;

    &:first-child {
      background-color: #edf5ff !important;
    }

    ::ng-deep .mat-card-content {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: auto;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;

  .header-title {
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;

    h2 {
      padding: 0px;
      margin: 0px;
      font-size: medium;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .crop-name {
      font-size: 20px;
      font-weight: 550;
    }
  }

  .header-details {
    opacity: 0.8;
    display: grid;
    margin-left: 15px;
    grid-template-columns: 130px 100px 100px;
  }
  .header-details-title {
    font-size: 10px;
  }
  .header-details-value {
    font-size: 14px;
  }
}

.card-container {
  margin: 15px;

  .card-title {
    letter-spacing: 1px;
    color: gray;
    font-size: 10px;
  }

  .card-advice {
    display: flex;
    justify-content: space-between;

    .mark-button {
      color: white;
      letter-spacing: 2px;
      font-size: smaller;
      background-color: #2f4ff3;
    }

    .watered-button {
      color: blue;
      letter-spacing: 2px;
      font-size: smaller;
    }

    h2 {
      padding: 0px;
      margin: 0px;
      font-size: 23px;
      font-weight: bold;
    }
  }

  .soil-moisture-container {
    .card-details {
      width: 100%;
      color: blue;
      letter-spacing: 1px;
      font-size: 12px;
    }

    .view-logs {
      font-weight: bold;
      letter-spacing: 1px;
      color: #2f4ff3;
    }
  }

  .card-body {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: space-between;
  }

  .history-container,
  .sensors-container {
    .view-history,
    .view-sensors {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 1px;
      color: #2f4ffe;
      padding-right: 16px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: -5px;
      margin-right: -16px;
    }
  }

  .water-image {
    width: 120px;
    height: 100px;
    margin-top: 10px;
  }

  mat-card {
    margin-bottom: 15px;
  }
}

.slider-container {
  display: flex;

  .percentage {
    letter-spacing: 1px;
    color: gray;
    margin-top: 10px;
    font-size: 15px;
  }

  mat-slider {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

::ng-deep .mat-dialog-container {
  padding-left: 0px !important;
}

.progress-bar-container {
  position: relative;
  margin: 50px 0 10px;
  min-height: 60px;

  .progress-bar-wrapper {
    display: flex;
    align-items: center;

    .progress-bar-label {
      font-size: 16px;
      font-weight: 400;
      color: #8d8d8d;
    }

    .progress-bar-label-left {
      margin-right: 10px;
    }

    .progress-bar-label-right {
      margin-left: 10px;
    }

    .progress-bar-line {
      flex-grow: 1;
      position: relative;
      width: calc(100% - 45px);

      .progress-bar-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #eaecf0;
        z-index: 1;
      }

      .target-range {
        z-index: 2;
      }

      .last-measured-notation {
        z-index: 2;
      }
    }
  }
}

.target-range {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.target-range-line {
  background-color: #82cfff;
  height: 4px;
}

.target-range-text,
.last-measured-text {
  text-align: center;
  margin-top: 5px;
  width: fit-content;
  line-height: 1;
  letter-spacing: 0.03em;
}

.target-range-text {
  color: #2084cb;
  margin-top: 10px;
  width: 50px;
  position: absolute;
  white-space: nowrap;
}

.last-measured-text {
  color: #da1e28;
  position: relative;
  font-size: 9px;
  top: -40px;
  margin-left: -40px;
}

.last-measured-circle {
  width: 80px;
}

.last-measured-value,
.target-range-value {
  font-size: 11px;
}

.target-range-label,
.last-measured-label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 13px;
  margin-left: -0.5em;
}

.target-range-label,
.target-range-value,
.last-measured-label,
.last-measured-label {
  display: block;
}

.last-measured-label {
  min-width: 80px;
}

.last-measured-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #da1e28;
  transform: translateX(-50%);
  z-index: 2;
  position: absolute;
  top: -7px;
}

.last-measured-notation {
  text-align: center;
  font-size: 12px;
  position: absolute;
  padding: 0 5px;
}

.last-measured-date {
  font-size: 12px;
}
