<app-header-title fxFlexFill> </app-header-title>
<div>
  <div
    class="header-container"
    [ngStyle]="{
      'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + dynamicImageUrl + ')'
    }"
  >
    <div class="header-title">
      <h2>{{ sensor.fieldLocation }}</h2>
      <span class="crop-name"> {{ crop.cropName }}</span>
    </div>
    <div class="header-details">
      <div>
        <span class="header-details-title">Planted</span>
        <p class="header-details-value">{{ seedDate }}</p>
      </div>
      <div>
        <span class="header-details-title">Harvest in</span>
        <p class="header-details-value">46 Days</p>
      </div>
      <div>
        <span class="header-details-title">Growth Stage</span>
        <p class="header-details-value">{{ advice.stage.stageNumber }}</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <mat-card style="background-color: #edf5ff">
      <mat-card-content>
        <div class="card-advice">
          <div>
            <span class="card-title">WATERING ADVICE</span>
            <h2>Water Today</h2>
            <h3>15 GPM/acre</h3>
            <button *ngIf="!watered" mat-raised-button class="mark-button" (click)="markAsWatered()">MARK AS WATERED</button>
            <button *ngIf="watered" mat-stroked-button class="watered-button"><mat-icon>check</mat-icon> FIELD WATERED</button>
          </div>
          <div>
            <img [src]="moistureImageUrl" class="water-image" />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="soil-moisture-container">
          <span class="card-title">CURRENT SOIL MOISTURE</span>
          <div class="progress-bar-container">
            <div class="progress-bar-wrapper">
              <span class="progress-bar-label progress-bar-label-left">0</span>
              <div class="progress-bar-line">
                <mat-progress-bar class="soil-moisture-progress-bar" mode="determinate" [value]="progressValue"></mat-progress-bar>
                <div class="progress-bar-overlay"></div>
                <div class="target-range">
                  <div class="target-range-line" [style.marginLeft]="'calc(' + targetRangeStart + '% - 5px)'" [style.width]="'calc(' + (targetRangeEnd - targetRangeStart) + '% + 10px)'"></div>
                  <div class="target-range-text" [style.left]="'calc(' + targetRangeStart + '% - 5px)'" [style.width]="'calc(' + (targetRangeEnd - targetRangeStart) + '% + 10px)'">
                    <span class="target-range-label">Target Range</span>
                    <span class="target-range-value">{{ targetRangeStart }}-{{ targetRangeEnd }}%</span>
                  </div>
                </div>
                <div class="last-measured-notation" [style.left]="'calc(' + lastMeasuredValue + '% + 5px)'">
                  <div class="last-measured-text">
                    <span class="last-measured-label">Last measured</span>
                    <span class="last-measured-value">{{ percentageValues | number : ".2-2" }}%</span>
                  </div>
                  <div class="last-measured-circle"></div>
                </div>
              </div>
              <span class="progress-bar-label progress-bar-label-right">100</span>
            </div>
          </div>

          <div>
            <p>
              Last Measured:
              <span style="color: gray">{{ lastMeasuredDate }}</span>
            </p>
            <button mat-button class="view-logs" (click)="openFullViewDialog()">VIEW LOGS</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="sensors-container">
          <span class="card-title">SENSORS</span>
          <div class="card-body">
            <h2 class="card-subtitle">A2, B2, C1, D2</h2>
            <button mat-button class="view-sensors" (click)="viewSensors()">VIEW SENSORS</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="history-container">
          <span class="card-title">LAST WATERED</span>
          <div class="card-body">
            <h2 class="card-subtitle">
              {{ lastWateredDate }}
            </h2>
            <button mat-button class="view-history" (click)="viewHistory()">VIEW HISTORY</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
