<mat-toolbar class="custom-toolbar">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
    <button fxFlex="none" mat-icon-button class="white-icon" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex fxFlexOffset="10" class="toolbar-title">Farm Dashboard</span>
    <button fxFlex="nogrow" mat-icon-button class="white-icon" aria-label="read text">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="weather-margin">
  <div fxLayout="row" fxLayoutAlign="none center">
    <label class="title" fxFlex="40" >WEATHER FORECAST</label>
    <label class="title location-margin-padding" fxflex >NEED ACCESS!</label>
  </div >
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" class="weather-info-margin">
    <div fxFlex="18" fxFlexFill  fxLayout="row" fxLayoutAlign="start center">
      <img [src]="weahtherIconImage" width="32" height="32">
      <div fxFlexOffset="4" fxLayout="column" fxLayoutAlign="space-between center">
        <span class="temperature-font">{{loading? ' ': todayWeather.maxTemperature}}&deg;C</span>
        <span class="temperature-font">{{loading? ' ': todayWeather.minTemperature}}&deg;C</span>
      </div>
    </div>
    <div fxFlex="80" fxFlexOffset="4" fxLayout="column" fxLayoutAlign="none center" style="margin-left: 8px;">
      <div fxFlexFill fxLayout="row">
        <label fxFlex="36">Chance of rain</label>
        <label fxFlex="14" class="value">{{loading? '' : precipChance }}%</label>
        <label fxFlex="36">Precipitation</label>
        <label class="value">{{loading? '' : precipitaion }} m</label>
      </div>
      <div fxFlexFill fxLayout="row">
        <label fxFlex="36">humidity</label>
        <label fxFlex="14" class="value">{{loading? '' : humidity}}</label>
        <label fxFlex="36" >UV index</label>
        <label class="value">{{loading? '' :uvIndex}}</label>
      </div>
    </div>
  </div>
</div>

<mat-divider class="mat-elevation-z8"></mat-divider>

<mat-card class="card-margin-padding" (click)="onClick('my-crops')">
  <div fxLayout="row" fxLayoutAlign="none end" >
    <img fxFlex="18" src="assets/welcome-plant.png" alt="Crops" width="65" height="96">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>My Crops</mat-card-title>
      <mat-card-subtitle>Measure soil moisture and get advice</mat-card-subtitle>
    </div>
  </div>
</mat-card>

<mat-card class="card-margin-padding" (click)="onClick('test-sensor')">
  <div fxLayout="row" fxLayoutAlign="none end">
    <img fxFlex="18" src="assets/welcome-measure.png" alt="Sensor" width="65" height="96">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-card-title>Test Sensor</mat-card-title>
      <mat-card-subtitle>Ensure your sensor is properly calibrated!</mat-card-subtitle>
    </div>
  </div>
</mat-card>

