div>label.title{
  color: #838383
}

div>label.value {
  font-size:smaller;
  color: #3e3e3e
}

div>label{
  color: #acacac;
}

.custom-toolbar {
  background-color: rgba(0, 0, 255, 0.774);
  padding: 0 5px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.weather-margin {
  margin: 20px 10px;
}

.weather-info-margin {
  margin-top: 10px;
  margin: 15px 2px;
}

.location-margin-padding {
  margin-left: 20px;
}

.card-margin-padding {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 18px;
  margin-bottom: 4px;
  padding: 6px;
}

.temperature-font {
  font-size: larger;
  padding-left: 5px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(172,172,172),
              0 1px 15px 0 rgba(172,172,172),
              0 1px 10px 0 rgba(172,172,172);
}

.today-margin {
  margin: 10px 2px;
}

.today-title {
  font: 20;
  color: black;
  font-weight: bold;
}

.time-margin-padding {
  margin-left: 10px;
  font-size: large;
}

.image-margin-padding {
  margin-left: 130px;
}

.rain-padding {
  margin: left 0;
}

.toolbarNav {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  //display: flex;
  //justify-content: space-around;
  padding: 2em;
  background-color: #2f4ffe;

  //-webkit-box-shadow: 3px 3px 5px 6px #ccc; __<<ngThemingMigrationEscapedComment0>>__
  //-moz-box-shadow: 3px 3px 5px 6px #ccc; __<<ngThemingMigrationEscapedComment1>>__
  //box-shadow: 2px 2px 4px 5px #ccc; __<<ngThemingMigrationEscapedComment2>>__
}

button:hover,
.active-link {
  color: white;
}

.btn-color {
  background-color: #2f4ffe;
  color: lightgrey;
}

.mat-icon {
  margin-bottom: 4px;
}
