<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="25%">


  <app-header-title fxFlexFill fxFlex="20"  leftIconName="arrow_back" headerTitle="Select Seed Date"rightIconName="volume_up" (click)="onHeaderClick($event)">
  </app-header-title>

  <div fxFlexFill fxFlex="80" class="select-date-container">
    <img mat-card-image class="cardImg" src="/assets/select-seed.png" alt="select seed date" />
    <label class="label">Select a seed date</label>
    <mat-form-field class="datePicker" appearance="fill">
      <input matInput [matDatepicker]="picker"[max]="maxDate" [(ngModel)]="userSelectiondate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <div class="dateAgo">
      {{userSelectiondate | dateAgo}}
    </div>
    <button mat-flat-button class="c-btn" (click)="clickConfirm(userSelectiondate)">CONFIRM</button>
  </div>

</div>
